<!--The content below is only a placeholder and can be replaced.-->
<div class="game-container" (keyup) = "moveTo($event)">
  <div class="game-header">
    <h1 class="title clearfix">2048</h1>
    <h2 class="score">Scor：{{gameScore}}</h2>
    <button class="btn-new-game" (click)="initGameData()">New Game</button>
  </div>
  <div class="game-body">
    <div class="grid-row" *ngFor="let items of showArray">
      <div class="grid-cell" *ngFor="let item of items" [ngStyle]="gridCellStyle(item.value)">
        <span class="item-span animated" [ngClass]="{'zoomIn': item.isNew}" *ngIf="item.value !== 0">
          {{item.value}}
        </span>
      </div>
    </div>
  </div>
</div>

<div class="message-box animated" (click)="hideMsg($event)" *ngIf="isShowMsg" #messageBox >
  <div class="message-body">
    <p class="message-content">{{msgContent}}</p>
  </div>
</div>
